body {
    margin: 0;
    padding: 0;
}

section {
    width: 100%;
    height: 100vh;
    background-image: url(parth.JPG);
    background-size: cover;
}

.blur {
    position: absolute;
    width: 100%;
    height: 100%;
}
